## Regression Tables via `pf.etable()` and the `Stargazer` package

To produce regression tables, we have two options: pyfixest's internal `etable()` function and the [Stargazer](https://github.com/StatsReporting/stargazer) Python package.

To begin, we load some libraries and fit a set of regression models.

In [1]:
import numpy as np
from stargazer.stargazer import LineLocation, Stargazer

import pyfixest as pf

%load_ext autoreload
%autoreload 2

data = pf.get_data()

fit1 = pf.feols("Y ~ X1 | f1", data = data)
fit2 = pf.feols("Y ~ X1 | f1 + f2", data = data)
fit3 = pf.feols("Y ~ X1 + X2 | f1", data = data)
fit4 = pf.feols("Y ~ X1 + X2 | f1 + f2", data = data)
fit5 = pf.feols("Y ~ X1 *X2 | f1 + f2", data = data)

## Regression Tables via `pf.etable()`

We can compare all regression models via the pyfixest-internal `pf.etable()` function:

In [2]:
pf.etable([fit1, fit2, fit3, fit4, fit5])

`etable` allows us to do a few things out of the box. For example, we can only keep the variables that we'd like, which keeps all variables that fit the provided regex match.

In [3]:
pf.etable([fit1, fit2, fit3, fit4, fit5], keep = "X1")

We can use the `exact_match` argument to select a specific set of variables:

In [4]:
pf.etable([fit1, fit2, fit3, fit4, fit5], keep = ["X1", "X2"], exact_match = True)

We can also easily **drop** variables via the `drop` argument:

In [5]:
pf.etable([fit1, fit2, fit3, fit4, fit5], drop = ["X1"])

By default, `pf.etable()` reports **standard errors**. But we can also ask to output p-values or confidence intervals via the `coef_fmt` 
function argument.

In [6]:
pf.etable([fit1, fit2, fit3, fit4, fit5], coef_fmt = "b (se) [p]")

Additionally, we can also overwrite the defaults for the reported significance levels and control the rounding of results via the 
`signif_code` and `digits` function arguments:

In [7]:
pf.etable([fit1, fit2, fit3, fit4, fit5], signif_code=[0.01, 0.05, 0.1], digits = 5)

You can also rename variables if you want to have a more readable output. Just pass a dictionary to the `labels` argument. Note that interaction terms will also be relabeled using the specified labels for the interacted variables (if you want to manually relabel an interaction term differently, add it to the dictionary).

In [8]:
labels={
    "X1": "Age",
    "X2": "Years of Schooling",
    "Y": "Wage",
    "f1": "Industry",
    "f2": "Year"
}

pf.etable([fit1, fit2, fit3, fit4, fit5], labels=labels)

If you want to label the rows indicating the inclusion of fixed effects not with the variable label but with a custom label, you can pass on a separate dictionary to the `felabels` argument.

In [9]:
pf.etable(
    [fit1, fit2, fit3, fit4, fit5],
    labels=labels,
    felabels={"f1": "Industry Fixed Effects", "f2": "Year Fixed Effects"}
)

You can add custom column labels to your regression table via the `model_heads` argument.

In [10]:
pf.etable(
    [fit1, fit2, fit3, fit4, fit5],
    labels=labels,
    felabels={"f1": "Industry Fixed Effects", "f2": "Year Fixed Effects"},
    model_heads = ["Model 1", "Model 2", "Model 3", "Model 4", "Model 5"]
)

Last, you can add custom notes via the `notes` argument.

In [11]:
pf.etable(
    [fit1, fit2, fit3, fit4, fit5],
    labels=labels,
    felabels={"f1": "Industry Fixed Effects", "f2": "Year Fixed Effects"},
    model_heads = ["Model 1", "Model 2", "Model 3", "Model 4", "Model 5"],
    notes = "You can add notes here."
)

## Latex and Markdown Support

By default, `pf.etable()` returns a data frame, but you can also opt to output latex and markdown via the `type` argument.

In [12]:
tex = pf.etable(
    [fit1, fit2, fit3, fit4, fit5],
    type = "tex"
)

print(tex)

\renewcommand\cellalign{t}
\begin{threeparttable}
\begin{tabular}{lccccc}
\toprule
 & \multicolumn{5}{c}{Y} \\
\cmidrule(lr){2-6}
 & (1) & (2) & (3) & (4) & (5) \\
\midrule
X1 & \makecell{-0.949*** \\ (0.069)} & \makecell{-0.919*** \\ (0.065)} & \makecell{-0.950*** \\ (0.067)} & \makecell{-0.924*** \\ (0.061)} & \makecell{-0.924*** \\ (0.061)} \\
X2 &  &  & \makecell{-0.174*** \\ (0.018)} & \makecell{-0.174*** \\ (0.015)} & \makecell{-0.185*** \\ (0.025)} \\
X1:X2 &  &  &  &  & \makecell{0.011 \\ (0.018)} \\
\midrule
f1 & x & x & x & x & x \\
f2 & - & x & - & x & x \\
\midrule
$R^2$ & 0.437 & 0.609 & 0.489 & 0.659 & 0.659 \\
S.E. type & by: f1 & by: f1 & by: f1 & by: f1 & by: f1 \\
Observations & 997 & 997 & 997 & 997 & 997 \\
\bottomrule
\end{tabular}
\footnotesize Significance levels: $*$ p $<$ 0.05, $**$ p $<$ 0.01, $***$ p $<$ 0.001. Format of coefficient cell: Coefficient
 (Std. Error)
\end{threeparttable}

You can then simply post the tex code in your LaTeX document! But please don't forget to add the following packages to your LaTeX document:
```latex
\usepackage{threeparttable} % For three-part tables
\usepackage{makecell} % For multiline cells
\usepackage{booktabs} % For \toprule, \midrule, \bottomrule
```

## Regression Tables via `Stargazer`

We have opened a PR for `pyfixest` support for the excellent [Stargazer](https://github.com/StatsReporting/stargazer/pull/105) project. Until it is merged, you can download the dev version from `py-econometrics` by typing

```bash
pip install git+https://github.com/py-econometrics/stargazer.git
```

`Stargazer` is particularly useful if you need highly customizable regression tables (beyond the scope of `pf.etable()`), or if you want to compare models from `statsmodels` or `linearmodels` with `pyfixest`. 

After installing `stargazer`, we can produce a summary table via the `Stargazer` class:

In [13]:
stargazer_table = Stargazer([fit1, fit2, fit3, fit4, fit5])
stargazer_table

We can easily add custom statisics. For example, assume that we want to correct for multiple testing via the Romano-Wolf correction. We can do this as follows:

In [14]:
rwolf_res = pf.rwolf([fit1, fit2, fit3, fit4, fit5], param = "X1", seed = 123, reps = 9999)
rwolf_pvalues = np.round(rwolf_res.xs("RW Pr(>|t|)"), 3).to_list()

In [15]:
stargazer_table.add_line('Fixed Effects', [x._fixef for x in [fit1, fit2, fit3, fit4, fit5]], LineLocation.FOOTER_TOP)
stargazer_table.add_line('X1: Romano-Wolf P-Value', rwolf_pvalues, LineLocation.FOOTER_TOP)
stargazer_table