## Regression Tables via `pf.etable()` and the `Stargazer` package

To produce regression tables, we have two options: pyfixest's internal `etable()` function and the [Stargazer](https://github.com/StatsReporting/stargazer) Python package. The following examples illustrate how to use both options.

Contents:
- [Regression Tables via `pf.etable()`](#regression-tables-via-pfetable)
    - [Basic Usage](#basic-usage)
    - [Keep and drop variables](#keep-and-drop-variables)
    - [Display p-values or confidence intervals](#display-p-values-or-confidence-intervals)
    - [Significance levels and rounding](#significance-levels-and-rounding)
    - [Other output formats](#other-output-formats)
    - [Rename variables](#rename-variables)
    - [Custom model headlines](#custom-model-headlines)
    - [Custom table notes](#custom-table-notes)
    - [Publication-ready LaTex tables](#publication-ready-latex-tables)
- [Regression Tables via `Stargazer`](#regression-tables-via-stargazer)


To begin, we load some libraries and fit a set of regression models.

In [2]:
import numpy as np
import pylatex as pl  # for the latex table; note: not a dependency of pyfixest - needs manual installation
from IPython.display import FileLink, display
from stargazer.stargazer import LineLocation, Stargazer

import pyfixest as pf

%load_ext autoreload
%autoreload 2

data = pf.get_data()

fit1 = pf.feols("Y ~ X1 + X2 | f1", data = data)
fit2 = pf.feols("Y ~ X1 + X2 | f1 + f2", data = data)
fit3 = pf.feols("Y ~ X1 *X2 | f1 + f2", data = data)
fit4 = pf.feols("Y2 ~ X1 + X2 | f1", data = data)
fit5 = pf.feols("Y2 ~ X1 + X2 | f1 + f2", data = data)
fit6 = pf.feols("Y2 ~ X1 *X2 | f1 + f2", data = data)

## Regression Tables via `pf.etable()`

### Basic Usage

We can compare all regression models via the pyfixest-internal `pf.etable()` function:

In [3]:
pf.etable([fit1, fit2, fit3, fit4, fit5, fit6])

### Keep and drop variables
`etable` allows us to do a few things out of the box. For example, we can only keep the variables that we'd like, which keeps all variables that fit the provided regex match.

In [4]:
pf.etable([fit1, fit2, fit3, fit4, fit5, fit6], keep = "X1")

We can use the `exact_match` argument to select a specific set of variables:

In [5]:
pf.etable([fit1, fit2, fit3, fit4, fit5, fit6], keep = ["X1", "X2"], exact_match = True)

We can also easily **drop** variables via the `drop` argument:

In [6]:
pf.etable([fit1, fit2, fit3, fit4, fit5, fit6], drop = ["X1"])

### Display p-values or confidence intervals
By default, `pf.etable()` reports **standard errors**. But we can also ask to output p-values or confidence intervals via the `coef_fmt` function argument.

In [7]:
pf.etable([fit1, fit2, fit3, fit4, fit5, fit6], coef_fmt = "b \n (se) \n [p]")

### Significance levels and rounding
Additionally, we can also overwrite the defaults for the reported significance levels and control the rounding of results via the `signif_code` and `digits` function arguments:

In [8]:
pf.etable([fit1, fit2, fit3, fit4, fit5, fit6], signif_code=[0.01, 0.05, 0.1], digits = 5)

### Other output formats
By default, `pf.etable()` returns a data frame, but you can also opt to output markdown or latex via the `type` argument.

In [9]:
# Markdown output:
pf.etable([fit1, fit2, fit3, fit4, fit5, fit6], signif_code=[0.01, 0.05, 0.1], digits = 5, type = "md")

                      est1          est2          est3          est4          est5          est6
------------  ------------  ------------  ------------  ------------  ------------  ------------
depvar                   Y             Y             Y            Y2            Y2            Y2
------------------------------------------------------------------------------------------------
X1            -0.94953***   -0.92405***   -0.92417***   -1.26655***   -1.23153***   -1.23100***
                 (0.06652)     (0.06093)     (0.06094)     (0.17359)     (0.19228)     (0.19167)
X2            -0.17423***   -0.17411***   -0.18550***   -0.13056***   -0.11767***      -0.07369
                 (0.01840)     (0.01461)     (0.02516)     (0.04239)     (0.04152)     (0.10356)
X1:X2                                         0.01057                                  -0.04082
                                             (0.01818)                                 (0.08093)
------------------------------------------------------------------------------------------------
f1                       x             x             x             x             x             x
f2                       -             x             x             -             x             x
------------------------------------------------------------------------------------------------
R2                 0.48899       0.65904       0.65916       0.12017       0.17151       0.17180
S.E. type           by: f1        by: f1        by: f1        by: f1        by: f1        by: f1
Observations           997           997           997           998           998           998
------------------------------------------------------------------------------------------------
Significance levels: * p < 0.1, ** p < 0.05, *** p < 0.01
Format of coefficient cell: Coefficient
 (Std. Error)

To obtain latex output use `format = "tex"`. You need to incluce latex packages booktabs, threeparttable and makecell in the preamble of your latex document.

In [23]:
# LaTex output (include latex packages booktabs, threeparttable, and makecell in your document):
tab= pf.etable([fit1, fit2, fit3, fit4, fit5, fit6], signif_code=[0.01, 0.05, 0.1], digits = 2, type = "tex")

\renewcommand\cellalign{t}
\begin{threeparttable}
\begin{tabular}{lcccccc}
\toprule
 & \multicolumn{3}{c}{Y} & \multicolumn{3}{c}{Y2} \\
\cmidrule(lr){2-4} \cmidrule(lr){5-7}
 & (1) & (2) & (3) & (4) & (5) & (6) \\
\midrule
X1 & \makecell{-0.95*** \\ (0.07)} & \makecell{-0.92*** \\ (0.06)} & \makecell{-0.92*** \\ (0.06)} & \makecell{-1.27*** \\ (0.17)} & \makecell{-1.23*** \\ (0.19)} & \makecell{-1.23*** \\ (0.19)} \\
X2 & \makecell{-0.17*** \\ (0.02)} & \makecell{-0.17*** \\ (0.01)} & \makecell{-0.19*** \\ (0.03)} & \makecell{-0.13*** \\ (0.04)} & \makecell{-0.12*** \\ (0.04)} & \makecell{-0.07 \\ (0.10)} \\
X1:X2 &  &  & \makecell{0.01 \\ (0.02)} &  &  & \makecell{-0.04 \\ (0.08)} \\
\midrule
f1 & x & x & x & x & x & x \\
f2 & - & x & x & - & x & x \\
\midrule
$R^2$ & 0.49 & 0.66 & 0.66 & 0.12 & 0.17 & 0.17 \\
S.E. type & by: f1 & by: f1 & by: f1 & by: f1 & by: f1 & by: f1 \\
Observations & 997 & 997 & 997 & 998 & 998 & 998 \\
\bottomrule
\end{tabular}
\footnotesize Significance levels: $*$ p $<$ 0.1, $**$ p $<$ 0.05, $***$ p $<$ 0.01. Format of coefficient cell: Coefficient
 (Std. Error)
\end{threeparttable}

The following code generates a pdf including the regression table which you can display clicking on the link below the cell:

In [11]:
## Use pylatex to create a tex file with the table
def make_pdf(tab, file):
    "Create a PDF document with tex table."
    doc = pl.Document()
    doc.packages.append(pl.Package('booktabs'))
    doc.packages.append(pl.Package('threeparttable'))
    doc.packages.append(pl.Package('makecell'))

    with doc.create(pl.Section('A PyFixest LateX Table')), doc.create(pl.Table(position='htbp')) as table:
        table.append(pl.NoEscape(tab))

    doc.generate_pdf(file, clean_tex=False)

# Compile latex to pdf & display a button with the hyperlink to the pdf
make_pdf(tab, "latexdocs/SampleTableDoc")
display(FileLink('latexdocs/SampleTableDoc.pdf'))

c:\Users\dirks\OneDrive\Python\GitHubForks\pyfixest\docs\latexdocs\SampleTableDoc.pdf

### Rename variables
You can also rename variables if you want to have a more readable output. Just pass a dictionary to the `labels` argument. Note that interaction terms will also be relabeled using the specified labels for the interacted variables (if you want to manually relabel an interaction term differently, add it to the dictionary).

In [12]:
labels={
    "Y": "Wage",
    "Y2": "Wealth",
    "X1": "Age",
    "X2": "Years of Schooling",
    "f1": "Industry",
    "f2": "Year"
}

pf.etable([fit1, fit2, fit3, fit4, fit5, fit6], labels=labels)

If you want to label the rows indicating the inclusion of fixed effects not with the variable label but with a custom label, you can pass on a separate dictionary to the `felabels` argument.

In [13]:
pf.etable([fit1, fit2, fit3, fit4, fit5, fit6], labels=labels, felabels={"f1": "Industry Fixed Effects", "f2": "Year Fixed Effects"})

### Custom model headlines
You can also add custom headers for each model by passing a list of strings to the `model_headers` argument.

In [14]:
pf.etable([fit1, fit2, fit3, fit4, fit5, fit6], labels=labels, model_heads=["US", "China", "EU", "US", "China", "EU"])

Or change the ordering of headlines having headlines first and then dependent variables using the `head_order` argument. "hd" stands for headlines then dependent variables, "dh" for dependent variables then headlines. Assigning "d" or "h" can be used to only show dependent variables or only headlines. When head_order="" only model numbers are showm.

In [15]:
pf.etable([fit1, fit4, fit2, fit5, fit3, fit6], labels=labels,
          model_heads=["US", "US", "China", "China", "EU", "EU"],
          head_order="hd")

Remove the dependent variables from the headers:

In [16]:
pf.etable([fit1, fit4, fit2, fit5, fit3, fit6], labels=labels,
          model_heads=["US", "US", "China", "China", "EU", "EU"],
          head_order="")

### Custom table notes
You can replace the default table notes with your own notes using the `notes` argument.

In [17]:
mynotes="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet."
pf.etable([fit1, fit4, fit2, fit5, fit3, fit6], labels=labels,
          model_heads=["US", "US", "China", "China", "EU", "EU"],
          head_order="hd", notes=mynotes)

## Publication-ready LaTex tables 
With few lines of code you thus obtain publication-ready latex tables.

In [18]:
tab=pf.etable([fit1, fit4, fit2, fit5, fit3, fit6], labels=labels,
          model_heads=["US", "US", "China", "China", "EU", "EU"],
          head_order="hd", type="tex", notes=mynotes)
make_pdf(tab, "latexdocs/SampleTableDoc2")
display(FileLink('latexdocs/SampleTableDoc2.pdf'))

c:\Users\dirks\OneDrive\Python\GitHubForks\pyfixest\docs\latexdocs\SampleTableDoc2.pdf

## Rendering Tables in Quarto
When you use quarto to render your notebook as pdf you can include latex tables generated by `etable`. Just specify `output: asis` in the code block options of the respective cell. Don't forget to include the `usepackage` commands for necessary latex packages in the YAML block.

This is how the YAML block may look like:

---
title: "Quarto and PyFixest"
jupyter: python3
format: 
  pdf:
    number-sections: true
    include-in-header: asis
      - text: |
          \usepackage{booktabs}
          \usepackage{makecell}
          \usepackage{threeparttable}
---

And then you can display the table as follows. When you render the respective `qmd` file the latex code will be processed and the table will be displayed in the pdf output.

In [19]:
#| label: tbl-main
#| tbl-cap: A PyFixest Regression Table
#| output: asis
#| echo: false
#| tbl-pos: H  

tab=pf.etable([fit1, fit4, fit2, fit5, fit3, fit6], labels=labels,
          model_heads=["US", "US", "China", "China", "EU", "EU"],
          head_order="hd", type="tex", notes=mynotes)

print(tab)

\renewcommand\cellalign{t}
\begin{threeparttable}
\begin{tabular}{lcccccc}
\toprule
 & \multicolumn{2}{c}{US} & \multicolumn{2}{c}{China} & \multicolumn{2}{c}{EU} \\
\cmidrule(lr){2-3} \cmidrule(lr){4-5} \cmidrule(lr){6-7}
 & Wage & Wealth & Wage & Wealth & Wage & Wealth \\
 & (1) & (2) & (3) & (4) & (5) & (6) \\
\midrule
Age & \makecell{-0.950*** \\ (0.067)} & \makecell{-1.267*** \\ (0.174)} & \makecell{-0.924*** \\ (0.061)} & \makecell{-1.232*** \\ (0.192)} & \makecell{-0.924*** \\ (0.061)} & \makecell{-1.231*** \\ (0.192)} \\
Years of Schooling & \makecell{-0.174*** \\ (0.018)} & \makecell{-0.131** \\ (0.042)} & \makecell{-0.174*** \\ (0.015)} & \makecell{-0.118** \\ (0.042)} & \makecell{-0.185*** \\ (0.025)} & \makecell{-0.074 \\ (0.104)} \\
Age $\times$ Years of Schooling &  &  &  &  & \makecell{0.011 \\ (0.018)} & \makecell{-0.041 \\ (0.081)} \\
\midrule
Industry & x & x & x & x & x & x \\
Year & - & - & x & x & x & x \\
\midrule
$R^2$ & 0.489 & 0.120 & 0.659 & 0.172 & 0.659 & 0.172 \\
S.E. type & by: f1 & by: f1 & by: f1 & by: f1 & by: f1 & by: f1 \\
Observations & 997 & 998 & 997 & 998 & 997 & 998 \\
\bottomrule
\end{tabular}
\footnotesize Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
\end{threeparttable}
\renewcommand\cellalign{t}
\begin{threeparttable}
\begin{tabular}{lcccccc}
\toprule
 & \multicolumn{2}{c}{US} & \multicolumn{2}{c}{China} & \multicolumn{2}{c}{EU} \\
\cmidrule(lr){2-3} \cmidrule(lr){4-5} \cmidrule(lr){6-7}
 & Wage & Wealth & Wage & Wealth & Wage & Wealth \\
 & (1) & (2) & (3) & (4) & (5) & (6) \\
\midrule
Age & \makecell{-0.950*** \\ (0.067)} & \makecell{-1.267*** \\ (0.174)} & \makecell{-0.924*** \\ (0.061)} & \makecell{-1.232*** \\ (0.192)} & \makecell{-0.924*** \\ (0.061)} & \makecell{-1.231*** \\ (0.192)} \\
Years of Schooling & \makecell{-0.174*** \\ (0.018)} & \makecell{-0.131** \\ (0.042)} & \makecell{-0.174*** \\ (0.015)} & \makecell{-0.118** \\ (0.042)} & \makecell{-0.185*** \\ (0.025)} & \makecell{-0.074 \\ (0.104)} \\
Age $\times$ Years of Schooling &  &  &  &  & \makecell{0.011 \\ (0.018)} & \makecell{-0.041 \\ (0.081)} \\
\midrule
Industry & x & x & x & x & x & x \\
Year & - & - & x & x & x & x \\
\midrule
$R^2$ & 0.489 & 0.120 & 0.659 & 0.172 & 0.659 & 0.172 \\
S.E. type & by: f1 & by: f1 & by: f1 & by: f1 & by: f1 & by: f1 \\
Observations & 997 & 998 & 997 & 998 & 997 & 998 \\
\bottomrule
\end{tabular}
\footnotesize Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
\end{threeparttable}

## Regression Tables via `Stargazer`

We have opened a PR for `pyfixest` support for the excellent [Stargazer](https://github.com/StatsReporting/stargazer/pull/105) project. Until it is merged, you can download the dev version from `py-econometrics` by typing

```bash
pip install git+https://github.com/py-econometrics/stargazer.git
```

`Stargazer` is particularly useful if you need highly customizable regression tables (beyond the scope of `pf.etable()`), or if you want to compare models from `statsmodels` or `linearmodels` with `pyfixest`. 

After installing `stargazer`, we can produce a summary table via the `Stargazer` class:

In [20]:
stargazer_table = Stargazer([fit1, fit2, fit3, fit4, fit5, fit6])
stargazer_table

We can easily add custom statisics. For example, assume that we want to correct for multiple testing via the Romano-Wolf correction. We can do this as follows:

In [21]:
rwolf_res = pf.rwolf([fit1, fit2, fit3, fit4, fit5, fit6], param = "X1", seed = 123, reps = 9999)
rwolf_pvalues = np.round(rwolf_res.xs("RW Pr(>|t|)"), 3).to_list()

In [22]:
stargazer_table.add_line('Fixed Effects', [x._fixef for x in [fit1, fit2, fit3, fit4, fit5, fit6]], LineLocation.FOOTER_TOP)
stargazer_table.add_line('X1: Romano-Wolf P-Value', rwolf_pvalues, LineLocation.FOOTER_TOP)
stargazer_table